#container {
    text-align: center;
}

#canvas {
    background-color: black;
}

#greenButton {
    background-color: green;
    font-weight: 900;
}

#blueButton {
    background-color: blue;
    font-weight: 900;
}

#yellowButton {
    background-color: yellow;
    font-weight: 900;
}

#purpleButton {
    background-color: purple;
    font-weight: 900;
}

#gameOverScreen {
    display: none;
}

#highScores {
    display: none;
    font-weight: 700;
}

.scores {
    font-weight: 700;
}

#score1 {
    font-weight: 700;
}